ion-header {
	ion-toolbar {
		--background: var(--md-sys-color-surface);

		&:has(ion-title[data-state="collapsed"]) {
			--background: var(--md-sys-color-surface-container);
		}
	}

	&:has(ion-title[data-state="collapsed"]) {
		box-shadow: 0 0 var(--md-sys-elevation-level2) rgb(0 0 0 / 6%);
	}

	ion-title {
		--color: var(--md-sys-color-on-surface);
		opacity: 1;
		transition: opacity 400ms ease-in-out, color 400ms ease-in-out;
		will-change: opacity;

		&[data-state="transition"] {
			opacity: var(--_opacity, 0.5);
		}

		&[data-state="collapsed"] {
			opacity: 1;
		}

		&[data-state="expanded"] {
			opacity: var(--_expanded-opacity, 0);
		}
	}

	ion-buttons {
		color: var(--md-sys-color-on-surface);

		&[slot="end"] {
			color: var(--md-sys-color-on-surface-variant);
		}
	}
}

ion-content {
	--background: var(--md-sys-color-surface);
}

.expanded-header {
	.title {
		color: var(--md-sys-color-on-surface);

		font-size: 2.2rem;
		padding-inline: 20px;
		padding-block: 10px;

		&.large {
			font-size: 2.5rem;
			padding-top: 38px;
		}

		span {
			opacity: 1;
			transition: opacity 400ms ease-in-out;
			will-change: opacity;

			&[data-state="transition"] {
				opacity: var(--_opacity);
			}

			&[data-state="collapsed"] {
				opacity: 0;
			}

			&[data-state="expanded"] {
				opacity: 1;
			}
		}
	}
}