:root {
  /* Headline Medium */
  --md-sys-headline-medium-line-height: 2.25rem;
  --md-sys-headline-medium-size: 1.75rem;
  --md-sys-headline-medium-tracking: 0;
  --md-sys-headline-medium-weight: 400;

  /* Headline Small */
  --md-sys-headline-small-line-height: 2rem;
  --md-sys-headline-small-size: 1.5rem;
  --md-sys-headline-small-tracking: 0;
  --md-sys-headline-small-weight: 400;

  /* Title Large */
  --md-sys-title-large-line-height: 1.75rem;
  --md-sys-title-large-size: 1.375rem;
  --md-sys-title-large-tracking: 0;
  --md-sys-title-large-weight: 400;
}
